.list-payment {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.list-payment__item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 0.5rem;
}